* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    width: 1440px;
    height: 920px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 64px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #ff9130;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.login-link {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: solid #000;
    padding: 12px 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.login-link:hover {
    color: #fff;
    background-color: #000;
}

.register-link {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 12px 40px;
    border: solid #000;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.register-link:hover {
    color: #000;
    background-color: #fff;

}

.glav-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1320px;
    height: 300px;
    background-color: #ff9130;
    border-radius: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 72px;
    font-weight: 900;
}

.profile {
    display: flex;
    padding: 24px;
    border: solid #eee;
    border-radius: 12px;
    border-color: #eee;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 280px;
}


.line {
    width: 586px;
    height: 204px;
    gap: 16px;
    border: solid #eee;
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
    padding-bottom: 12px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.profile-info-block {
    gap: 8px;
    margin: 16px;
}

.profile-name {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.profile-opisanie {
    font-size: 14px;
    font-weight: 400;
    font-style: oblique;
    color: #333;
}

.profile-instrument-block {
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 8px;
    height: auto;
    max-height: 600px;
}

.instrument-logo {
    font-size: 14px;
    font-weight: 600;
    color: #ff9130;
}

.instruments {
    gap: 12px;
    margin-top: 12px;
    display: flex;
    align-items: center;

    
}

.instrument {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background-color: #a7aeb8;
    border-radius: 8px;
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-right: 16px;
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-my-info {
    padding-left: 16px;
    width: 670px;
    height: 138px;
}

.profile-my-info-logo {
    font-size: 14px;
    font-weight: 600;
    color: #ff9130;
    padding-bottom: 10px;
}

.profile-my-info-text {
    white-space: normal;
    font-size: 14px;
    font-weight: 400;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 64px;
    border: solid 1px #e9eaea;
}

.footer-links {
    display: flex;
    gap: 24px;
}

.footer-link {
    text-decoration: none;
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
}

.hidden {
    display: none;
}

.input-group {
    width: 220px;
    display: flex;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;

}

.InputInstrument {
    width: 180px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    text-align: center;
}
.AddInstrument {
    padding: 5px 15px;
    background-color: #ff9130;
    color: white;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.AddInstrument:hover {
    background-color: #b9590a;
}

#tools-list {
    list-style: none;
    padding: 0;
    max-width: 300px;
}
#tools-list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    background-color: #a7aeb8;
    border-radius: 8px;
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-right: 16px;
    background-color: rgba(0, 0, 0, 0.1);

}