body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/background.png') 

}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1900px;
    padding: 20px;
}

.product-card {
    margin-top: 20px;
    margin-left: 10px;
    background-color: #474747;
    border-radius: 30px;
    width: 350px;
    height: 250px;
    border: #d9d9d9 solid 1px;
    overflow: hidden;
    color: white;
    font-family: 'Literata';
    font-size: 20px;
}

.product-card:hover {
    background-color: #1D1D1D;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
}


.loading{
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.product-name {
  text-align: center;
  font-size: 32px;
  font-family: "Literata";
  margin-top: 20px;
}

.product-xar {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Literata";
}